@import '../../styles/variables';

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  color: #222;
  background-color: $white;
  border-bottom: 1px solid #efefef;
}

.item:hover {
  background-color: $white-2;
}

.item--title {
}

.item input {
  width: 100%;
}

.item--delete {
  cursor: pointer;
}
