.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25em 0.25em;
  padding: .25em .1em;
  color: #222;
  border: 1px solid #ccc;
}

.item--title {
}

.item--delete {
  cursor: pointer;
}
