.list {
  flex: 0 1 15em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: .5em;

}

.list--container {
  box-shadow:0px 0px 2px #3D9CCC;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.list--add {
  background: #a3d977;
  margin: 0.5em;
  height: 3em;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  cursor: pointer;
}

.list--title {
  border-top-left-radius: 10px;
  padding: 0.7rem .8rem;
  display: flex;
  justify-content: space-between;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d9ccc+0,0c7cba+3,0c7cba+100 */
  background: #3d9ccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #3d9ccc 0%, #0c7cba 3%, #0c7cba 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3d9ccc 0%,#0c7cba 3%,#0c7cba 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3d9ccc 0%,#0c7cba 3%,#0c7cba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9ccc', endColorstr='#0c7cba',GradientType=0 ); /* IE6-9 */
}

.list--description {
  background: #0c7cba;
  padding: 0.0rem 1rem 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-style: italic;
}

.list--content {
  background-color: white;
  border-bottom-right-radius: 15px;
}

.list--add-item {
  text-align: center;
  background: #a3d977;
  padding: 0.5em 0em;
  cursor: pointer;
  border-bottom-right-radius: 15px;
}

.list--items {
}
