@import '../../styles/variables';

.list {
  flex: 0 1 15em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: .5em;
  transition: $transition-fade;
}

.list.hide {
  opacity: 0.1;
  pointer-events: none;
}

.list--container {
}

.list--add {
  background: #a3d977;
  margin: 0.5em;
  height: 3em;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  cursor: pointer;
}

.list--delete {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
}

.list--header {
  position: relative;
  background: $header-2;
}

.list--header-not-editing {
  cursor: pointer;
}

.list--title {
  padding: 0.7rem .8rem;
  display: flex;
  justify-content: space-between;
}

.list--title-text {
  margin-right: 16px;
}

.list--title input {
  width: 100%;
}

.list--description {
  padding: 0.0rem 1rem 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-style: italic;
}

.list--description input {
  width: 100%;
}

.list--content {
  background-color: white; // Need white for loader gif
}

.list--add-item {
  text-align: center;
  background: none;
  border: $action-border;
  padding: 0.5em 0em;
  cursor: pointer;
  transition: $transition-fade;
}

.list--add-item.hide {
  opacity: 0.1;
  pointer-events: none;
}

.list--add-item:hover {
  background: $hover-1;
}

.list--items {
}
