.overlay-backdrop {
  display: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
}

.overlay {
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background-color: white;
  border-radius: 5px;
}

.overlay .message {
  font-weight:bold;
}
