$white: #efefef;
$white-2: #dedede;
$grey-1: #bcbcbc;
$black: #333;
$color-action: $white;
$color-action-text: $black;
$header-1: #00304a;
$header-2: #0c7cba;
$hover-1: #004063;
$hover-text-1: $white;

$action-border: 2px dashed $color-action;

$transition-fade: opacity 0.18s ease-out;
