@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $header-1;
}

.header ul {
  margin: 0px;
  padding: 0px;
}

.header img {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.header img.show {
  opacity: 1;
}

.header--title, .header--sub-title {
  padding: 0em 1rem;
}

.header--links {
  margin-right: 130px;
  display: inherit;
  align-items: center;
  padding: 0em 1rem;
  flex: 0 0 18em;
  justify-content: space-between;
}

.header--link-group {
  width: 250px;
}

.header--link-group li {
  display: block;
}

.header--link {
  color: white;
}

@media only screen and (max-device-width: 480px) {
  .header h1 {
    flex: 0 0 3em;
    width: 100px;
  }

  .header img {
    position:fixed;
    top:10px;
    left:10px;
  }

  .header--links {
    flex: 0 0 10em;
  }

  .header--sub-title {
    display: none;
  }

  .header--link-group {
    width: 150px;
  }

  .header--link {
    font-size: 14px;
  }
}
