@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $header-1;
}

.header--title {
  padding: 0em 1rem;
}

.header--links {
  display: inherit;
  align-items: center;
  padding: 0em 1rem;
  flex: 0 0 18em;
  justify-content: space-between;
}

.header--link-group {
  width: 250px;
}

.header--link-group li {
  display: block;
}

.header--link {
  color: white;
}
