@import '../../styles/variables';

.workspace img {
  position: relative;
  margin: 40px auto;
  background: #fff;
  display: block;
}

.workspace {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.workspace button.add-list {
  flex: 0 1 15em;
  margin: .5em;
  color: $white;
  width: 100px;
  text-align: center;
  padding: 0.5em 0em;
  cursor: pointer;
  border: none;
  background: none;
  border: $action-border;
  transition: $transition-fade;
}

.workspace button.add-list.hide {
  opacity: 0.1;
  pointer-events: none;
}

@media only screen and (max-device-width: 480px) {
  .workspace {
    display: block;
    padding: 1rem;
  }
}
