.loader {
  padding: 1em;
}

.loader-container {
  position: relative;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container img {
  width: 32px;
  height: 32px;
}
