/* Base Application Styles */
body {
  color: #f1fee6;
  background: #222;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

a, a:focus, a:visited {
  color: white;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: auto;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#025785+0,003a59+100 */
  background: #025785; /* Old browsers */
  background: -moz-linear-gradient(top,  #025785 0%, #003a59 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #025785 0%,#003a59 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #025785 0%,#003a59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025785', endColorstr='#003a59',GradientType=0 ); /* IE6-9 */
}

.overflow-hidden {
  overflow: hidden;
}
