/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #bbb;
}

.header--title {
  padding: 0em 1rem;
}

.header--links {
  display: inherit;
  align-items: center;
  padding: 0em 1rem;
  flex: 0 0 18em;
  justify-content: space-between;
}

.header--link-group li {
  display: block;
}

.header--link {
  color: white;
}

.index {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
